body{
     background-color: #ffffff;
} 
#heading {
     color: hsl(221, 96%, 48%);
     margin-left: 20px;
     text-align: center;
   }
 #mylight {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
    background-size: cover;

}

button{
     background-color:#20B2AA; /* Green */
  border: none;
  color: #F0E68C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:25px 25px 75px 350px;
  cursor: pointer;
}